<h6 class='neutral'><center><%= translate ('today_is') %> <%= @calendar.date.strftime("%d") %>/<%= (translate ((@calendar.date.strftime("%b").downcase))).capitalize %>/<%= @calendar.date.strftime("%Y") %></center></h6>
<p class="neutral"><%= "#{(translate ('find_me_in')).capitalize} app/views/start/_day.html.erb" %></p>


