<h2 class='second'><%= translate ('resend_unlock_instructions') %></h2>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <p class='neutral'>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= (translate ('email')).capitalize %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br><br>
    <%= f.submit "#{translate ('resend_unlock_instructions')}" %><br><br>
    <%= render "devise/shared/links" %>
  </p>
<% end %>
